In [1]:
import pandas as pd

In [2]:
df_adv_data = pd.read_csv('weather.csv',index_col=0)

In [3]:
df_adv_data.head()

,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,HighTemperature,LowTemperature,Data.Wind.Direction,Data.Wind.Speed
Data.Precipitation,,,,,,,,,,,,,
0.00,03-01-2016,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
0.00,03-01-2016,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
0.16,03-01-2016,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
0.00,03-01-2016,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
0.01,03-01-2016,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80

In [4]:
df_adv_data.size

217659

In [5]:
df_adv_data.shape

(16743, 13)

In [6]:
df_adv_data.columns

Index(['Date.Full', 'Date.Month', 'Date.Week of', 'Date.Year', 'Station.City',
       'Station.Code', 'Station.Location', 'Station.State',
       'Data.Temperature.Avg Temp', 'HighTemperature', 'LowTemperature',
       'Data.Wind.Direction', 'Data.Wind.Speed'],
      dtype='object')

In [7]:
x_feature = df_adv_data[['HighTemperature','LowTemperature','Data.Wind.Speed']]

In [8]:
x_feature.head()

                    HighTemperature  LowTemperature  Data.Wind.Speed
Data.Precipitation
0.00                             46              32             4.33
0.00                             47              31             3.86
0.16                             51              41             9.73
0.00                             52              38             6.86
0.01                             38              29             7.80

In [9]:
y_target = df_adv_data[['Data.Wind.Direction']],

In [10]:
y_target.head()

AttributeError: 'tuple' object has no attribute 'head'

In [ ]:
x_feature.shape

In [ ]:
y_target.shape

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_feature,y_target,random_state=1)

In [ ]:
print (x_train.shape)
print (x_test.shape)
print (y_train.shape)
print (y_test.shape)

In [ ]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)

In [ ]:
print (linreg.intercept_)
print (linreg.coef_)

In [ ]:
y_pred = linreg.predict(x_test)

In [ ]:
y_pred

In [ ]:
from sklearn import metrics
import numpy as np

In [ ]:
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))